<mat-card>
  <mat-card-header>
    <mat-card-title>{{symbol}}</mat-card-title>
    <img mat-card-avatar src="{{logo}}">
    <mat-card-subtitle>{{companyName}}</mat-card-subtitle>
</mat-card-header>
  <mat-card-content>
    <div class="profit">
      <h3>Profit</h3>
      ${{profit}}
    </div>
    <div class="todayPrice">
      <h3>Today Price</h3>
      ${{latestPrice}} | {{change}} {{changePercent | percent:'1.0-2'}}
    </div>
    <div class="personalStocks">
      <h3>Your Stocks</h3>
      {{userStocks[symbol]}}
    </div>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button (click)="openStocks('Buy')">Buy</button>
    <button mat-button (click)="openStocks('Sell')">Sell</button>
  </mat-card-actions>
</mat-card>
