<mat-toolbar color="primary">
    <span>bank</span> 
</mat-toolbar>

<nav>
  <a>
    <button mat-button [routerLink]="'/'" color="primary">
     Home
    </button>
  </a>
  <a>
    <button mat-button [routerLink]="'/accounts'" color="primary">
     Accounts
    </button>
  </a>
  <a>
    <button mat-button [routerLink]="'/investments'" color="primary">
     Investments
    </button>
  </a>
  <a>
    <button mat-button [routerLink]="'/profile'" color="primary">
      Profile
    </button>
  </a>
</nav>


