table {
  max-width: 980px;  
  margin: 0 auto;
  }

mat-card {
  max-width: 980px;  
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentMoney {
  font-size: 18px;
  margin: 50px;
  padding: 24px;
}
  
