
<mat-card>
  <mat-form-field>
    <mat-label>Account</mat-label>
    <mat-select [formControl]="selectAccount">
      <mat-option placeholder="Account" *ngFor="let account of accounts" [value]="account" >
        {{account.account}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-card-subtitle>
      {{currentType}}
    </mat-card-subtitle>
    <mat-card-content>
    <span class="currentMoney" [ngClass]="setCurrencyStyles(currentMoney)">{{currentMoney | currency}}</span> 
    </mat-card-content>

  <mat-card-actions>
    <a><button mat-button [routerLink]="'/transfer'">Transfer</button></a>
    <button mat-button>Invest</button> <!-- que despliegue menu para seleccionar y te lleve a la accion en el link -->
  </mat-card-actions>
</mat-card>

<table mat-table [dataSource]="history" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="transaction">
    <th mat-header-cell *matHeaderCellDef> transaction </th>
    <td mat-cell *matCellDef="let element"> {{element.transaction}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef> From </th>
    <td mat-cell *matCellDef="let element"> {{element.from}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="ammount">
    <th mat-header-cell *matHeaderCellDef> Ammount </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setCurrencyStyles(element.ammount)" > {{element.ammount | currency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>