<div class="form-container">
  <form [formGroup]="transferForm" (ngSubmit)="onTransfer()">
    <mat-form-field>
      <mat-label>From account</mat-label>
      <mat-select formControlName="fromAccount" name="account">
        <mat-option placeholder="From account" *ngFor="let account of accounts" [value]="account" >
          {{account.account}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="toAccount" matInput type="number" placeholder="To account">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose from diary</mat-label> 
      <mat-select formControlName="fromDiary">
        <mat-option *ngFor="let contact of contacts" [value]="contact" >
          {{contact.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <input formControlName="amount" matInput type="number" placeholder="Amount" name="amount">
      <!-- <mat-hint *ngIf="amount.dirty"> dirtyyy</mat-hint> -->
      <mat-error *ngIf="amount.dirty && amount.invalid && amount.errors.max">
        You have only ${{money}} available.
      </mat-error>
      <mat-error *ngIf="amount.invalid && amount.errors.required">
        Insert the amount to transfer
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!transferForm.valid">Submit</button>
  </form>
</div>


