table {
  max-width: 980px;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  justify-content: center;
  margin: 12px auto;
}

.card {
  min-width: 280px;
  /* margin: 8px; */
}

.cardSpinner {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* To loading dots */
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }