<div class="cards-container" >
  <mat-card class="cardSpinner" *ngIf="!stocks">
    <mat-spinner class="spinner"></mat-spinner>
  </mat-card>
 <bank-investment-card
    class="card"
    *ngFor="let stock of stocks"
    [symbol]="stock.symbol"
    [companyName]="stock.companyName"
    [logo]="stock.logo"
    [latestPrice]="stock.latestPrice"
    [change]="stock.change"
    [changePercent]="stock.changePercent"
    [totalInvested]="stock.totalInvested"

    [userStocks]="userStocks">
  </bank-investment-card>
</div>

<!-- <div class="loader"><span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></div> -->

<h3>Tabla</h3>
<table mat-table [dataSource]="investmentHistory" class="mat-elevation-z8">

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>
    
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef> Operation </th>
      <td mat-cell *matCellDef="let element"> {{element.operation | uppercase}} </td>
    </ng-container>
    
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
  
    <ng-container matColumnDef="purchasedPrice">
      <th mat-header-cell *matHeaderCellDef> Purchasd Price </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setCurrencyStyles(element,purchasedPrice)"> {{element.purchasedPrice | currency}} </td>
    </ng-container>
  
    <ng-container matColumnDef="invested">
      <th mat-header-cell *matHeaderCellDef> Invested </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setCurrencyStyles(element.invested)">{{element.invested | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

