<form class="profileForm">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Info
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- personal info, agregar foto -->
    <mat-form-field>
      <input matInput placeholder="First name" value="Jhon">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last Name" value="Van Papapap">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" value="Calle falsa 123">
    </mat-form-field>
  
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact Info
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
      <!-- "contact" info -->
    <mat-form-field>
      <input matInput type="tel" placeholder="Tel" value="1540-465789">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" value="Calle falsa 123">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" value="Zurich">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State" value="Weawea">
    </mat-form-field>
    <mat-form-field  >
      <input matInput placeholder="Postal Code" value="94043">
    </mat-form-field>
    
  </mat-expansion-panel>
  
 
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Professional Info
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- profesional info  -->
    <mat-form-field>
      <input matInput placeholder="Company (disabled)" disabled value="Google">
    </mat-form-field>
  
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Account Info
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- account info |||| agregar numero, tipo, cbu, alias POR CUENTA -->
    <mat-form-field>
      <input matInput placeholder="Main Account" value="Zurich">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Other account" value="Weawea">
    </mat-form-field>
    <mat-form-field  >
      <input matInput placeholder="Postal Code" value="94043">
    </mat-form-field>
  
  </mat-expansion-panel>

</form>
