<h1 mat-dialog-title>{{data.operation}} {{data.symbol}} stocks</h1>
<div mat-dialog-content>
  <p>Choose</p>
  <form [formGroup]="stocksForm">
    <mat-form-field>
      <input matInput formControlName="latestPrice" placeholder="Price" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="stocks" type="number" placeholder="Stocks">
    </mat-form-field>
    <mat-form-field>
      <mat-label>From account</mat-label>
      <mat-select formControlName="fromAccount" name="account">
        <mat-option placeholder="From account" *ngFor="let account of accounts" [value]="account" >
          {{account.account}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="amount" type="number" placeholder="Total price" >
      <mat-error *ngIf="amount.invalid">
        You have not enough money.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button *ngIf="data.operation == 'Buy'" (click)="buyStocks()" [disabled]="stocksForm.invalid">Buy</button>
  <button mat-button *ngIf="data.operation == 'Sell'" (click)="sellStocks()" [disabled]="stocksForm.invalid">Sell</button>
</div>